/* FONTS */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
    font-family: 'Roboto',sans-serif;
    text-align: justify;
    margin:0;
    padding: 0;
}

/* CARDS */
.card-img-top{
    border-radius: 10px;
}

.card-title{
    color: rgb(22, 22, 22);
    font-size: 1rem;
}

.card-footer a{
    font-size: 0.9rem;
}

/*FORMS */
form{
    background-color: #f8f9fa;
    font-size: 0.9rem;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

/*CARRITO*/
.img-carrito{
    width: 40px;
    border-radius: 5px;
}

.table>:not(caption)>*>* {
    font-size: 0.9rem;
    padding: 1rem 0rem;
}

.mainFinalizarCompra{
    background-image: url(../img/bg-carro.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.finalizarCompra{
    border-radius: 10px;
}

/* TITLES */
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px !important;
}
  
h2 {
    margin: 20px 0px;
    font-weight: 500;
}
  
h3 {
    margin: 15px 0px;
    font-weight: 300;
}

.color_link{
    color: rgb(0, 0, 0);
}

.nav-link{
    font-weight: 400;
    text-transform: uppercase;
}

.dropdown-item{
    font-weight: 200;
    text-transform: uppercase;
}

footer {
    background-image: url(../img/footer-bacnkground.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.225);
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.225);
}

/* 404 */

#notfound {
    position: relative;
    height: 100vh;
}
  
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  
.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}
  
.notfound .notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
}
  
.notfound .notfound-404 h1 {
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url("../img/404.jpg") no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}
  
.notfound h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}
  
.notfound p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.button-back a {
    text-decoration: none;
    color: #fff;
}
  
.notfound a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #198754;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
}